.header {
  color: rgb(2, 4, 6);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}
.chart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  flex-direction: column;
  /* border: 1px solid #000; */
}
.chart_row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.chart_col {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid #000;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}
.button-conatiner {
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  flex-direction: column;
}
.solve-button {
  background-color: bisque;
  border-radius: 20px;
  width: 120px;
  font-weight: bold;
}
.data-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  row-gap: 25px;
}
.data-box-part {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  columns: 10px;
}
.start-button {
  background-color: coral;
  border-radius: 20px;
  width: 120px;
  font-weight: bold;
}
.rerull-button {
  background-color: darkred;
  border-radius: 20px;
  width: 120px;
  font-weight: bold;
}
.challenge-button {
  background-color: darkgreen;
  border-radius: 20px;
  width: 120px;
  font-weight: bold;
}
.chart-conatiner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 50px;
}
.data-box-cotainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 50px;
}
